{%extends "base.html" %}

{%block content %}


<h1 class="h1edit">Update Form</h1>
<div class="content">
    
    <hr>
<form method="POST" enctype="multipart/form-data" action="/update" class="details">
   
    <p>
        <b><label for="name">Name </label></b>
    </p>
    <p>
        <input type="text"  style="height: 28px; width: 212px" name="name"placeholder="Name" required>
    </p>
    <p>
        <b><label for="email">E-mail</label></b>
    </p>
    <p>
        <input type="text"  style="height: 28px; width: 212px" name="email"placeholder="Mail ID" required>
    </p>
    <p>
        <b><label for="number">Mobile Number</label></b>
        <br></p><p></p>
        <input type="tel" id="phone" name="number" pattern="[0-9]{10-14}" minlength="10" maxlength="14" placeholder="Phone Number"  style="height: 28px; width: 212px" required>
    </p>

    <p>
        <b><label for="degree">Male</label></b>
    </p>
    <p>
        <input id="gender-0" name="gender" required type="radio" value="Male" >
        <label for="gender-0">Male</label>
    </p>
    <p>
        <input id="gender-1" name="gender" required type="radio" value="Female">
        <label for="gender-1">Female</label>
        <br></p><p></p>
        <input id="gender-2" name="gender" required type="radio" value="Others">
        <label for="gender-2">others</label>
        <br>
    <p>
        <input type="submit" value="Update" class="btn">
    </p>
</form>
</div><hr>
<div class="content">
    <a href="/">Home</a>
</div>
<hr>


{% endblock  %}}
