{%extends "base.html" %}

{%block content %}

<h1>Form</h1>
<hr>
<form method="POST" enctype="multipart/form-data">
   
    <p>
        <b><label for="name">Name </label></b>
    </p>
    <p>
        <input type="text" name="name"placeholder="Name">
    </p>
    <p>
        <b><label for="email">E-mail</label></b>
    </p>
    <p>
        <input type="text" name="email"placeholder="Mail ID">
    </p>

    <p>
        <b><label for="degree">Male</label></b>
    </p>
    <p>
        <input id="gender-0" name="gender" required type="radio" value="Male" >
        <label for="gender-0">Male</label>
    </p>
    <p>
        <input id="gender-1" name="gender" required type="radio" value="Female">
        <label for="gender-1">Female</label>
        <br>
    <p>
        <input type="submit" value="submit">
    </p>
</form>
<a href="/">Home</a>
<hr>
    <table  class="table">
        <thead width="100%">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th> </th>
            
        </thead>
        {% for data in teja %}

        <tr>
            <td>{{data["_id"]}}</td>
            <td>{{data["name"]}}</td>
            <td>{{data["email"]}}</td>
            <td>{{data["gender"]}}</td>
            <td></td>
        </tr>
        {% endfor %}

    </table>



{% endblock  %}}